/* Global */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

.nav-container {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}

.logo {
  display: flex;
}

.logo img {
  margin-right: 12px;
}

.logo h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
}

.logo span {
  color: #5de1e6;
}

.logo-sub {
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  margin-left: 0.7rem;
  color: white;
}

.conference-text {
  color: #b7b7b7;
  font-size: 18px;
  font-weight: 900;
}

.logo-sub p {
  font-size: 14px;
  font-weight: 900;
}
.letter-spacing-sm {
  letter-spacing: 2px;
}

.letter-spacing-md {
  letter-spacing: 4px;
}

/* Nav-Links */
.nav-links-container {
  display: flex;
  gap: 30px;
  margin-left: 6rem;
}

.nav-links-container li a {
  color: #c6c4c4;
  font-family: "poppins";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

.nav-links-container li a:hover {
  color: white;
}

.material-symbols-sharp a {
  color: white;
  cursor: pointer;
}

/* social icons */
.social-icons-container {
  display: flex;
  gap: 1rem;
  margin-left: 4rem;
  align-items: center;
}

.singleIcon a {
  color: #f1f1f1;
}

.hamburger span {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Speakers Container */

.speakers-container {
  padding: 2rem 6rem;
  font-family: poppins;
}

.speakers-container h2 {
  font-size: 2rem;
}

.speakers-container p {
  width: 75%;
}

#speaker-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  max-height: 30rem;
  overflow-y: scroll;
}

#speaker-list::-webkit-scrollbar {
  display: none;
}

.speaker-card {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.speaker-card img {
  width: 8rem;
  height:8rem;
  border-radius: 100%;
}

.vertical-divider {
  width: 2px;
  border-radius: 20px;
  background-color: black;
}

.speaker-details {
  display: flex;
  gap: 1rem;
}

.speaker-details h5 {
  font-size: 1.5rem;
}

.speaker-hero-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.speaker-svg-container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 2rem;
}

.speaker-svg {
  width: 100%;
}
